html, body {
    background-color: black;
    color: yellow;
}

* {
    margin: 0;
    padding: 0;
    border: 1px solid green;
}

.main-container {
    display: flex;
    height: 100vh;
    width: auto;
    justify-content: center;
    align-items: center;
}

.calc-outer {
    background-color: beige;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc-inner {
    background-color: red;
    height: 450px;
    width: 300px;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-flow: row dense;
    gap: 5px;
}

.grid-button {
    height: 40px;
    color: blueviolet;
    border-radius: 5px;
}

input[value=clear] {
    grid-column: auto / span 3;
    /* grid-row: auto / span 2; */
    color: blueviolet;
}

.display {
    height: 75px;
    font-size: 50px;
    text-align: center;
    
}