html, body {
    background-color: black;
    color: rgb(12, 252, 116);
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid green; */
}

.main-container {
    display: flex;
    height: 100vh;
    width: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    color: white;
    font-size: 100px;
}

.calc-inner {
    background-color: rgb(136, 150, 255);
    height: 450px;
    width: 350px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.calc-header {
    display: flex;
    justify-content: space-between;
    font-weight: 800;
}

.calc-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    font-weight: 800;
}

.display {
    /* background-color: rgb(171, 171, 171); */
    height: 75px;
    font-size: 50px;
    color: black; 
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(0, 0, 0);
    font-family: VT323, sans-serif;
    align-items: flex-start;
    display: flex;
    flex-direction: column;

}

.display-one {
    /* background-color: red; */
    font-size: 25px;
    flex: 1;
}

.display-two {
    flex: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-flow: row dense;
    
}

input {
    height: 50px;
    color: blueviolet;
    border-radius: 5px;
    font-weight: 700;
}

.grid-button {
    background-color: rgb(218, 218, 218);
}

.grid-button-s, 
#grid-button-dot {
    background-color: rgb(253, 149, 149);
}



.grid-button:hover, 
.grid-button-s:hover,
#grid-button-dot:hover {
    background-color: rgb(255, 248, 150);
}

.grid-button:active, 
.grid-button-s:active,
#grid-button-dot:active{
    background-color: #adff2f;
}

input[value=clear] {
    grid-column: auto / span 3;
    /* grid-row: auto / span 2; */
    background-color: rgb(245, 74, 131);
}